.page-header{
    display: flex;
    align-items: center;

}
.back-button{
    border: none;
    color: #04838F;
    background-color: transparent;
    &:hover{
        cursor: pointer;
        background-color: #04838F33;
        border-radius: 4px;
    }
}
.app-title{
    margin-left: 1rem;
    color: #04838F;
}
.bottom-line{
    background-color: #04838F; 
    height: 1px; 
    border: 0;
}