.center {
  max-width: 100vw;
  height: calc(100vh - 70px); // viewport height - margins and header size
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #04838f;
}

.medal-icon{
  font-size: 62px;
}
.title{
  color: #04838f;
  margin: 2rem 0;
}
.back-link{
  border: none;
  color: #04838F;
  background-color: #04838F33;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 8px;
  &:hover{
    cursor: pointer;
      background-color: transparent;
      border-radius: 4px;
      text-decoration: underline;
  }
}
