/* You can add global styles to this file, and also import other style files */

* {
    font-family: Roboto, Helvetica, sans-serif;
  }

h2{
    margin: 0;
}
.page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
  .tooltip-caret.position-top {
    border-top-color: #04838f;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }

  background-color: #04838f; 
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}